*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: radial-gradient(#156F99, #0A2E50);
}

h1 {
    position: absolute;
    top: 150px;
    color: #fff;
}

#inputFile{
    display: none;
}

#imgId{
    filter: blur(1px)
            saturate(100%)
            sepia(1%)
            opacity(100%)
            invert(1%)
            brightness(100%);
}

.img-preview{
    display: none;
    width: 400px;
    height: 350px;
    border: 2px solid #fff;
    border-radius: 8px;
}

img{
    width: 400px;
    height: 350px;
    cursor: pointer;
}

.filters{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    width: 900px;
    color: #fff;
    text-align: center;
}

p {
    margin-bottom: 10px;
}

input{
    width: 100px;
    cursor: pointer;
}